/*
* @Author: JiaoweiZhang
* @Date:   2018-07-10 11:34:21
* @Last Modified by:   JiaoweiZhang
* @Last Modified time: 2018-07-10 12:37:33
*/
/*nav*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px; 
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
.content.with-nav{
    float: left;
    width: 950px;
}
/*right side content area*/
