<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - newshoppingworld</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav-simple.html')  %>
        <div class="page-wrap">
            <div class="w">
                <div class="user-con">
                    <div class="user-title">Sign in</div>
                    <div class="user-box">
                        <div class="error-item">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <div class="user-item">
                            <label class="user-label" for="username">
                                <i class="fa fa-user"></i>
                            </label>
                            <input class="user-content" id="username" placeholder="Username" autocomplete="off">
                        </div>
                        <div class="user-item">
                            <label class="user-label" for="password">
                                <i class="fa fa-lock"></i>
                            </label>
                            <input type="password" class="user-content" id="password" placeholder="Password" autocomplete="off">
                        </div>
                        <a class="btn btn-submit" id="submit">Sign in</a>
                        <div class="link-item">
                            <a class="link" href="./user-pass-reset.html" target="_blank">Forgot password?</a>
                            <a class="link" href="./user-register.html" target="_blank">Create your account</a>
                        </div>
                    </div>  
                </div>                
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>