<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.google.com" target="blank"">      Google</a> |
            <a class="link" href="http://www.Amazon.com" target="blank"">      Amazon</a> |
            <a class="link" href="http://www.Taobao.com" target="blank"">      Taobao</a> |
            <a class="link" href="http://www.baidu.com" target="blank"">      Baidu</a>            
        </div>
        <p class="copyright">
            Copyright © 2018 newshoppingworld.com All Right Reserved
        </p>
    </div>
</div>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
