<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">Log in</span>
                <span class="link js-register">Sign up</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    Welcome,
                    <span class="username"></span>
                </span>
                <span class="link js-register">Sign out</span>
            </span>           
        </div>    
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <li class="fa fa-shopping-cart"></li>
                    Cart(<span class="cart-cont">0</span>)       
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">My order</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">My Account</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">About us</a>
            </li>
        </ul> 
    </div>
</div>