/*
* @Author: JiaoweiZhang
* @Date:   2018-07-04 14:28:57
* @Last Modified by:   JiaoweiZhang
* @Last Modified time: 2018-07-04 14:37:42
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}